/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/
  --title-color: #fff;
  --text-color: #d6d6d6;
  --text-color-light: rgba(255, 255, 255, 0.05);
  --body-color: #10101b;
  --shadow-color: rgba(255, 255, 255, 0.5);
  --border-color: rgba(255, 255, 255, 0.1);
  --container-color: rgba(255, 255, 255, 0.1);
  --blue-gradient-color: linear-gradient(#2196f3, #e91e63);
  --pink-gradient-color: linear-gradient(#f00, #f0f);

  /*========== Font and Typography ==========*/
  --body-font: "Poppins", sans-serif;

  /*========== Border Radius ===========*/
  --border-outside-radius: 15px;
  --border-inside-radius: 20px;
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--body-font);
  background: var(--body-color);
  color: var(--text-color);
}

/*========== CSS Reset ==========*/
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/

/*Bolinha background 1:*/
main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--blue-gradient-color);
  clip-path: circle(30% at left 10%);
  z-index: -1;
}
/*Bolinha background 2:*/
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pink-gradient-color);
  clip-path: circle(30% at right 70%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 17rem;
  height: 23rem;
  margin: 1rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: var(--border-outside-radius);
  background: var(--container-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  /* Gaussian blur background: */
  backdrop-filter: blur(30px);
}

.content {
  padding: 35px;
  text-align: center;
  transition: 0.5s;
  /* To make the hover effect: */
  transform: translateY(8rem);
  opacity: 0;
}
.card:hover .content {
  transform: translateY(0);
  opacity: 1;
}

.number {
  position: absolute;
  top: -3rem;
  /* ☝🏼 If card have hover effect
  use -3rem, if not, use -1.5rem */
  right: 1.2rem;
  font-size: 7rem;
  color: var(--text-color-light);
  font-family: var(--body-font);
  font-weight: 700;
  /* Don't change cursor on hover: */
  pointer-events: none;
}

.title {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--title-color);
  z-index: 1;
}

.text {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-color);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 1.5rem;
  background: #fff;
  font-weight: 600;
  color: #000;
  border-radius: var(--border-inside-radius);
  box-shadow: 0 2px 10px var(--shadow-color);
}
.btn:hover {
  box-shadow: 0 4px 20px var(--shadow-color);
}

.credits {
  margin-top: 5rem;
  text-align: center;
  font-size: 1rem;
  color: var(--title-color);
}
.credits a {
  color: #e91e63;
}
.credits a:hover {
  color: #2196f3;
}
